header {
    text-align: center;
    background: linear-gradient(to right, darkred, red, darkred);
    font-family: 'Bruno Ace SC', sans-serif;
}

body {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: large;
}

p {
    font-size: large;
    text-align: justify;
    margin: 30px 200px 30px 200px;
}

ul {
    margin-right: 200px;
    margin-left: 200px;
    text-align: justify;
}

#imgband1 {
    float: left;
    padding-left: 320px;
    height: 41px;
    width: 64px;
}

#imgband2 {
    float: right;
    padding-right: 320px;
    height: 41px;
    width: 64px;
}

#imgautofrente {
    height: 137px;
    width: 125px;
}

#img3fotos {
    height: 150px;
    width: 400px;
}

#imgvelocimetro {
    height: 200px;
    width: 204px;
    float: right;
}

a {
    font-size: x-large;
    background-color: red;
    padding: 7px;
    border: black 3px solid;
}

a:link, a:visited {
    color: black;
}

a:hover {
    font-size: 1.5em;
    background-color: #b61818;
    -webkit-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}

.formulas {
    text-align: left;
}

#botoncalc {
    color: black;
    background-color: red;
    margin-left: 300px;
    font-size: large;
}

table, td, th {
    border: 1px solid #000000;
    border-spacing: 0;
    height: 20px;
    padding: 10px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 50px;
}

.botones {
    text-align: center;
}

#mycanvas {
    background-color: white;
    text-align: center;
}